// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#main {
  margin: auto;
  width: 770px;
}

div#grid {
  width: 100%;
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  grid-auto-rows: minmax(90px, auto);
  position: relative;
  justify-content: center;

}

div#album_section {
  border-radius: 5px;
  padding: 1em;
  position: relative;
}

input[type=submit], button {
  background-color: white;
}
