// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main_title {
  text-align: center;
  padding-top: .5em;
}

div#main {
  margin: auto;
  padding-top: 1.5em;
  width: 770px;
  text-align: center;
  
}

div#grid {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 250px 540px;
  grid-template-rows: 50% 50%;
  grid-column-gap: 1em;
  grid-row-gap: .5em;
  grid-auto-rows: minmax(90px, auto);
  position: relative;
  justify-content: center;
  text-align: left;

}

div#album_add_container {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  line-height: 1;
}

div#album_add_container h5 {
  display: block;
  line-height: 0;
}

#search_form {
  font-family: Helvetica;
}

#search_form input {
  display: inline;
}

#search_results {
  overflow: scroll;
  overflow-x:hidden;
  height: 200px;
  line-height: 0;
  font-size: 15px; 
}

div#search_results::-webkit-scrollbar-track {
  background-color: #f9f7f7;
}

div#search_results::-webkit-scrollbar {
  width: 6px;
  background-color: #f9f7f7;
}

div#search_results::-webkit-scrollbar-thumb {
  background-color: #707070;
}

div#album_list_container {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1; 
  grid-row-end: span 2;
  overflow: scroll;
  overflow-x:hidden;
}

div#album_list_container::-webkit-scrollbar-track {
  background-color: #f9f7f7;
  border: 1px solid #707070;
}
div#album_list_container::-webkit-scrollbar {
  width: 6px;
  background-color: #f9f7f7;
}

div#album_list_container::-webkit-scrollbar-thumb {
  background-color: #707070;
}

#album_list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.albums {
  list-style: none;
  display: inline;
}

div#album_info_container {
  border-radius: 5px;
  padding: 1em;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2; 
  grid-row-end: 2;
  line-height: 0;
}

input[type=submit], button {
  background-color: white;
}


