/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #f9f7f7;
    font-family: 'Helvetica';
    color: #707070;
}

h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 0;
}

a {
    color: #707070;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

footer a {
    font-size: 14px;
    float: right;
    margin-right: 15px;
}

.button {
    color: #707070 !important;
    font-family: Helvetica;
    background-color: #f9f7f7 !important;
    padding: 5px;
    border: none;
    position: absolute;
    font-size: 14px !important ;
}

.button:hover {
    color: black !important;
    background: #707070;
    transition: all 0.4s ease 0s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

#log_out {
    font-size: 14px;
}

@media (min-width:875px) {
    #screen_warning {
        display: none;
    }
}

#screen_warning {
    text-align: center;
}


